.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrap {
    max-width: 1000px;
    .App-header {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .App-header-links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-weight: 500;

        .link {
          padding: 1rem;
          border-radius: var(--f-xs);
        }

        .preview {
          background-color: var(--white);
          color: var(--lGrey);
        }

        .learnMore {
          background-color: var(--lGrey);
        }
      }
    }
    .footer {
      margin: 10rem 0 5rem 0;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .feedback {
        text-align: left;
        height: 100px;
        background-color: var(--xlGrey);
        border: 1px solid var(--lGrey);
        width: fit-content;
        height: fit-content;
        padding: 0rem 2rem;
        border-radius: 1rem;
      }
    }
  }

  .App-content {
    gap: 2rem;
    .project-image {
      height: 100%;
      width: 100%;
    }
    .project-card {
      .project-header {
        overflow: hidden;
        background-color: lightgrey;
        border-radius: 0.75rem;
        height: 18rem;
        margin-bottom: var(--spacing-xs);
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrap {
    // background-color: lightgreen;
    margin: 0 3.75rem;
    h1 {
      font-size: 11vmin;
    }
    .App-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 1024px) {
  .wrap {
    // background-color: yellow;
    margin: 0 2.75rem;
    h1 {
      font-size: 11vmin;
    }
    .App-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    // background-color: blue;
    margin: 0 1.75rem;
    .App-header {
      max-height: 70vh;
      h1 {
        font-size: 11vmin;
      }
      .App-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
     
    }
    .footer {
      text-align: center;
      flex-direction: column;
    }
  }
}
