:root {
  --font-7xl: 4.5rem; /* 72px */
  --font-6xl: 3.75rem; /* 60px */
  --font-4xl: 2.25rem; /* 36px */
  --font-3xl: 1.875rem; /* 30px */
  --font-2xl: 1.5rem; /* 24px */
  --font-xl: 1.25rem; /* 20px */
  --font-lg: 1.125rem; /* 18px */
  --font-base: 1rem; /* 16px */
  --font-sm: 0.875rem; /* 14px */
  --wrap-w: 48rem;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .container {
  max-width: var(--wrap-w);
}
.wrap .container .content {
  height: 80vh;
}
.wrap .container .content .title {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--stone-500);
}
.wrap .footer {
  position: relative;
  background-color: var(--blue-500);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrap .footer h1 {
  text-transform: uppercase;
  color: var(--stone-100);
  font-size: var(--font-7xl);
}
.wrap .footer button {
  border: none;
  font-size: var(--font-4xl);
  color: var(--stone-100);
  background-color: var(--blue-300);
  padding: 1rem 0.75rem;
}
.wrap .footer p {
  color: var(--stone-100);
}
.wrap .footer span {
  position: absolute;
  bottom: 1rem;
}
.wrap .footer span a {
  margin: 1rem;
  color: var(--gray-100);
}

@media (min-width: 1024px) {
  .container {
    margin: 0 10rem;
  }
  .container .nav {
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--stone-700);
    border-bottom: 1px solid var(--gray);
    z-index: 1;
  }
  .container .nav .links {
    width: 100%;
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .nav .links .logo {
    color: var(--orange-700);
  }
  .container .nav .links .contact {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-50);
  }
  .container .nav .links .contact:hover {
    text-decoration: none;
  }
  .container .nav .links a {
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray-200);
  }
  .container .nav .links a:hover {
    text-decoration: underline;
  }
  .container .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .hero h1 {
    font-weight: bold;
    font-size: var(--font-7xl);
  }
  .container .aboutBoard {
    height: 80vh;
  }
  .container .aboutBoard .aboutSection {
    background-color: var(--blue-100);
  }
  .container .aboutBoard span .link {
    margin-left: auto;
  }
  .container .updateBoard {
    height: 20rem;
  }
  .container .updateBoard .updateSection span {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--gray-300);
  }
  .container .updateBoard .updateSection span .update-name {
    min-width: 10rem;
  }
  .container .updateBoard .updateSection span a {
    min-width: -moz-fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  body.menu-open {
    background-color: white;
  }
}
@media (max-width: 1024px) {
  .container {
    margin: 0 5rem;
  }
  .container .nav {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--stone-700);
    border-bottom: 1px solid var(--gray);
    z-index: 1;
  }
  .container .nav .links {
    margin: 0 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .container .nav .links .logo {
    color: var(--orange-700);
  }
  .container .nav .links .contact {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-50);
  }
  .container .nav .links .contact:hover {
    text-decoration: none;
  }
  .container .nav .links a {
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray-200);
  }
  .container .nav .links a:hover {
    text-decoration: underline;
  }
  .container .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container .hero h1 {
    font-weight: bold;
    font-size: var(--font-7xl);
    white-space: nowrap;
  }
  .container .updateBoard {
    height: 20rem;
  }
  .container .updateBoard .updateSection span {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray-300);
  }
  .container .updateBoard .updateSection span .update-name {
    min-width: 5rem;
  }
  .container .updateBoard .updateSection span a {
    min-width: -moz-fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  body.menu-open {
    background-color: white;
  }
}
@media (max-width: 639px) {
  .container {
    margin: 0 4rem;
  }
  .container .nav .links span {
    display: none;
  }
  .container .nav .links span.mobile-menu {
    display: block;
    font-size: var(--font-3xl);
    margin: 0 1rem;
  }
  .container .nav .links .myLinks.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--stone-700);
    position: absolute;
    height: 100vh;
    width: 100%;
    gap: 5rem;
    z-index: -1;
    top: 0;
  }
  .container .hero h1 {
    font-size: 10vmin;
  }
  body.menu-open {
    background-color: var(--stone-700);
  }
}
@media (max-width: 430px) {
  .container {
    margin: 0 2rem;
  }
  .container .hero h1 {
    font-size: var(--font-4xl);
  }
}/*# sourceMappingURL=global.css.map */