:root {
    // Sizing used through out whole page
    --font-7xl: 4.5rem;
    --font-6xl: 3.75rem;
    --font-4xl: 2.25rem;
    --font-p: 1rem;
    --wrap-w: 48rem;

    // Color Scheme
    // Gray = Fonts
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    // Logo and buttons
    --orange-50	: #fff7ed;
    --orange-100 : #ffedd5;
    --orange-200 : #fed7aa;
    --orange-300 : #fdba74;
    --orange-400 : #fb923c;
    --orange-500 : #f97316;
    --orange-600 : #ea580c;
    --orange-700 : #c2410c;
    --orange-800 : #9a3412;
    --orange-900 : #7c2d12;
    --orange-950 : #431407;

    // Banners
    --stone-50 : #fafaf9;
    --stone-100 : #f5f5f4;
    --stone-200 : #e7e5e4;
    --stone-300 : #d6d3d1;
    --stone-400 : #a8a29e;
    --stone-500 : #78716c;
    --stone-600 : #57534e;
    --stone-700 : #44403c;
    --stone-800 : #292524;
    --stone-900 : #1c1917;
    --stone-950 : #0c0a09;
}

.wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: var(--wrap-w);

    // Styling for the navigator
    .nav {
        height: 100px;
        width: 100%;
        border-bottom: 1px solid var(--gray-300);
        position: fixed;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--stone-700);
        .links {
            width: 120vmin;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                color: var(--orange-600);
            }
            .contact {
                padding: 0.75rem;
                border-radius: 0.5rem;
                border: 1px solid var(--gray-50);
            }
            .contact:hover {
                text-decoration: none;
            }
            
            a {
                margin: 0 1rem;
                text-decoration: none;
                font-weight: 500;
                color: var(--gray-200);
            }
            a:hover {
                text-decoration: underline;
            }
        } 
    }

    .hero {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        // Styling for titles through out the reading part
        .title {
            color: var(--stone-600);
            font-style: italic;
            font-weight: 500;
        }
        .reading {
            color: var(--gray-600);
        }
        .updateBoard {
            height: calc(10rem + 10rem);
            display: flex;
            // background-color: red;
            justify-content: space-between;
            .updateSection {
                max-width: 10rem;
                

            }
        }

        .introBoard {
            
        }
        
    }
}

// Font styling
h1 { font-weight: bold; font-size: var(--font-7xl); }
p { font-size: var(--font-p); color: var(--gray-600);}
.logo { font-size: var(--font-4xl);}

@media (min-width: 1024px) {
    .container {
        padding:0 5rem;

        .links {
            margin: 0 10rem;
        }

        h1 {
            font-size: var(--font-7xl);
        }
    }
}

@media (max-width: 1024px) {
    .container {
        padding:0 5rem;

        .links {
            margin: 0 5rem;
        }

        h1 {
            font-size: var(--font-7xl);
        }
    }
}

@media (max-width: 639px) {
    .container {
        padding:0 5rem;

        .links {
            margin: 0 2.5rem;
        }

        h1 {
            font-size: var(--font-6xl);
        }
    }
}