:root {
  --font-7xl: 4.5rem; /* 72px */
  --font-6xl: 3.75rem; /* 60px */
  --font-4xl: 2.25rem; /* 36px */
  --font-3xl: 1.875rem; /* 30px */
  --font-2xl: 1.5rem; /* 24px */
  --font-xl: 1.25rem; /* 20px */
  --font-lg: 1.125rem; /* 18px */
  --font-base: 1rem; /* 16px */
  --font-sm: 0.875rem; /* 14px */
  --wrap-w: 48rem;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .container {
  max-width: var(--wrap-w);
}
.wrap .container .newHeight {
  min-height: 100px;
}
.wrap .container .nav {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--stone-700);
}
.wrap .container .nav .links {
  width: 120vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .container .nav .links .logo {
  color: var(--orange-700);
}
.wrap .container .nav .links .contact {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-50);
}
.wrap .container .nav .links .contact:hover {
  text-decoration: none;
}
.wrap .container .nav .links a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--gray-200);
}
.wrap .container .nav .links a:hover {
  text-decoration: underline;
}
.wrap .container .hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap .container .content {
  height: 80vh;
}
.wrap .container .content .title {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--stone-500);
}
.wrap .container .content .updateBoard {
  height: 20rem;
}
.wrap .container .content .updateBoard .updateSection span {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid var(--gray-300);
}
.wrap .container .content .updateBoard .updateSection span .update-name {
  min-width: 15rem;
}
.wrap .container .content .updateBoard .updateSection span a {
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.wrap .footer {
  background-color: var(--stone-300);
  height: 50px;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: var(--font-7xl);
}

p {
  font-size: var(--font-base);
  color: var(--gray-500);
}

.logo {
  font-size: var(--font-3xl);
}

@media (min-width: 1024px) {
  .container {
    padding: 0 5rem;
  }
  .container .links {
    margin: 0 2.5rem;
  }
  .container h1 {
    font-size: var(--font-7xl);
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 5rem;
  }
  .container .links {
    margin: 0 3.5rem;
  }
  .container h1 {
    font-size: var(--font-7xl);
  }
}
@media (max-width: 639px) {
  .container {
    padding: 0 5rem;
  }
  .container .links {
    margin: 0 2.5rem;
  }
  .container h1 {
    font-size: var(--font-6xl);
  }
}/*# sourceMappingURL=global.css.map */