:root {
  --font-7xl: 4.5rem; /* 72px */
  --font-6xl: 3.75rem; /* 60px */
  --font-4xl: 2.25rem; /* 36px */
  --font-3xl: 1.875rem; /* 30px */
  --font-2xl: 1.5rem; /* 24px */
  --font-xl: 1.25rem; /* 20px */
  --font-lg: 1.125rem; /* 18px */
  --font-base: 1rem; /* 16px */
  --font-sm: 0.875rem; /* 14px */
  --radius: 2.5rem;
  --wrap-w: 48rem;
  --main-font: #0f1d07;
  --lime: #90f188;
  --light: #f3f3e9;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap .container {
  width: 100%;
}
.wrap .container .content {
  /* 
        The "content" class serves as a container 
        for organizing various components, 
        including the hero, intro board, and more.
        */
  margin-bottom: 10vh;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  scale: 0.75 1;
  padding: 5rem;
  height: 100vh;
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
    height: 10000px;
    border-radius: 1rem;
    background-color: grey;
  }
}
.wrap .footer {
  color: var(--main-font);
  height: calc(100% + 10rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap .footer h1 {
  text-transform: uppercase;
  font-size: var(--font-6xl);
}
.wrap .footer .footer-middle-container {
  display: flex;
  gap: 10rem;
  margin: 5rem 0;
}
.wrap .footer .footer-middle-container p {
  font-size: var(--font-xl);
  font-weight: 400;
}
.wrap .footer .footer-middle-container span p:not(:first-child) {
  color: var(--gray-500);
}
.wrap .footer .footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 5rem 0;
  border-top: 2px solid var(--lime);
}
.wrap .footer .footer-bottom-container span:not(:first-child) {
  /*
          This style ensures to 
          not target the first 
          element but instead the
          last, socials.
          */
}
.wrap .footer .footer-bottom-container span:not(:first-child) a {
  text-decoration: none;
  border-radius: var(--radius);
  padding: 0.75rem;
  color: var(--main-font);
}
.wrap .footer .footer-bottom-container span:not(:first-child) a:hover {
  background-color: var(--main-font);
  color: var(--light);
}

@media (min-width: 1024px) {
  .wrap {
    margin: 0 5rem;
  }
  .wrap .container {
    margin: 0 10rem;
  }
  .wrap .container .nav {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .wrap .container .nav .links {
    width: -moz-fit-content;
    width: fit-content;
    -webkit-backdrop-filter: 10px black;
            backdrop-filter: 10px black;
    padding: 1rem;
    border-radius: var(--radius);
    border: 2px solid var(--lime);
    position: fixed;
  }
  .wrap .container .nav .links a {
    color: var(--main-font);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    padding: 0.75rem;
    border-radius: var(--radius);
  }
  .wrap .container .nav .links a:hover {
    background-color: red;
    padding: 0.75rem;
  }
  .wrap .container .hero {
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .wrap .container .hero h1 {
    font-weight: 500;
    font-size: 7rem;
  }
  .wrap .container .hero h3 {
    font-size: var(--font-3xl);
  }
  .wrap .container .aboutBoard {
    min-height: -moz-fit-content;
    min-height: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 40vh;
  }
  .wrap .container .aboutBoard .aboutSection {
    background-color: var(--blue-100);
  }
  .wrap .container .aboutBoard span .link {
    margin-left: auto;
  }
  .wrap .container .updateBoard {
    height: 20rem;
  }
  .wrap .container .updateBoard .updateSection span {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--gray-300);
  }
  .wrap .container .updateBoard .updateSection span .update-name {
    min-width: 10rem;
  }
  .wrap .container .updateBoard .updateSection span a {
    min-width: -moz-fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .wrap body.menu-open {
    background-color: white;
  }
}
@media (max-width: 1024px) {
  .container {
    margin: 0 5rem;
  }
  .container .nav {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--stone-700);
    border-bottom: 1px solid var(--gray);
    z-index: 1;
  }
  .container .nav .links {
    margin: 0 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .container .nav .links .logo {
    color: var(--orange-700);
  }
  .container .nav .links .contact {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray-50);
  }
  .container .nav .links .contact:hover {
    text-decoration: none;
  }
  .container .nav .links a {
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray-200);
  }
  .container .nav .links a:hover {
    text-decoration: underline;
  }
  .container .updateBoard {
    height: 20rem;
  }
  .container .updateBoard .updateSection span {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray-300);
  }
  .container .updateBoard .updateSection span .update-name {
    min-width: 5rem;
  }
  .container .updateBoard .updateSection span a {
    min-width: -moz-fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  body.menu-open {
    background-color: white;
  }
}
@media (max-width: 639px) {
  .container {
    margin: 0 4rem;
  }
  .container .nav .links span {
    display: none;
  }
  .container .nav .links span.mobile-menu {
    display: block;
    font-size: var(--font-3xl);
    margin: 0 1rem;
  }
  .container .nav .links .myLinks.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--stone-700);
    position: absolute;
    height: 100vh;
    width: 100%;
    gap: 5rem;
    z-index: -1;
    top: 0;
  }
  .container .hero h1 {
    font-size: 10vmin;
  }
  .container .footer h1 {
    font-size: var(--font-2xl);
  }
  body.menu-open {
    background-color: var(--stone-700);
  }
}
@media (max-width: 430px) {
  .container {
    margin: 0 2rem;
  }
  .container .hero h1 {
    font-size: var(--font-4xl);
  }
}/*# sourceMappingURL=global.css.map */