body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #F3F3E9;
    
}

.code { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

h1 {
    color: #0F1D07;
}

p { font-size: var(--font-base); }
span.mobile-menu { display: none; }
body.menu-open { background-color: var(--stone-700); }
.icon { font-size: var(--font-3xl); margin: 1rem 1rem 3rem 1rem; }
.icon:hover {
    color: red;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');